* {
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
}

.title-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #404041;
	margin: 0px;
	height: 160px;
	justify-content: space-around;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
}

h1 {
	font-weight: 300;
	color: #DD1972;
	font-size: 4.5em;
	margin-bottom: -10px;
	margin-top: 25px;
}

.game-name {
	font-weight: 700;
}

.sub-title {
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 32px;
	font-size: 1.6em;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
}

hr {
	width: 106px;
	margin-bottom: 40px;
}

.subheading-container {
	display: flex;
	align-items: center;
}

.section-container {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
}

.left-column {
	background-color: #f7f7f7;
	width: 50%;
	height: 135vh;
}

.right-column {
	background-color: #D0D2D3;
	width: 50%;
	height: 135vh;
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-end;
}

.set-range {
	display: flex;
	justify-content: space-around;
}
.set-max-range,
.set-min-range{
	text-decoration: underline;
	font-weight: bold;
}

.min-range-text-box {
	height: 45px;
	width: 200px;
	margin-top: 5px
}

.max-range-text-box {
	height: 45px;
	width: 200px;
	margin-top: 5px
}

.set-range-container {
	background-color: white;
	height: 175px;
	margin: 20px;
	border: solid 1px #d6d6d4
}

.min-range-container {}

.range-header {
	margin-left: 15px;
	margin-top: 5px;
	font-size: 25px;
	margin-bottom: 0px;
	color: #404041;
}

.range-title {
	margin-bottom: 4px;
	font-size: 22px;
	margin-top: 2px;
	color: #404041;
}

.range-button {
	height: 43px;
	width: 150px;
	border-radius: 30px;
	font-size: 20px;
	color: #ffffff;
	background-color: #d0d2d3;
	margin-left: 35px;
}

.guesses-form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: white;
	border: solid 1px #d6d6d4;
	margin: 20px;
	height: 425px;
}

.range-text {
	font-size: 20px;
	color: #404041;
	padding-left: 15px;
	margin-top: 10px;
}

.guesses-heading {
	font-size: 25px;
	color: #404041;
	font-weight: 700;
	margin: 0px;
	padding-left: 15px;
}

.form-holders {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 35px;
}

.guesses-text {
	font-size: 22px;
	color: #404041;
	margin: 0px;
}

.form2-input {
	height: 45px;
	font-size: 16px;
}

.guess-button-holder {
	display: flex;
	justify-content: space-around;
	margin-bottom: 15px;
}

.guesses-button {
	width: 200px;
	height: 43px;
	font-size: 20px;
	background-color: #D0D2D3;
	color: white;
	border-radius: 30px;
	font-weight: 600;
}

.lat-guess-container {
	background-color: white;
  margin: 20px;
  display: flex;
	justify-content: space-around;
	border: solid 1px #d6d6d4;
	padding-top: 20px;
  padding-bottom: 20px;

}

.lat-guess-header {
	color: #404041;
	font-size: 25px;
	margin-top: -10px;
	margin-bottom: 0px;
	margin-left: -50px;
}

.lat-guess-name {
	display: flex;
	justify-content: center;
	color: #404041;
	font-size: 22px;
	margin-bottom: 0px;
	margin-top: 5px;

}

.current-guess-text{
	margin-top: 0px;
  display: flex;
  font-size: 22px;
  justify-content: center;
	margin-bottom: 0px
}

.challenger-1-box {
	display: flex;
	flex-direction: column;
	border-right: solid 2px #d6d6d4;
	padding-right: 50px;
	margin-left: 30px;
}

.challenger-2-box {
	display: flex;
  justify-content: flex-end;
	flex-direction: column;
	}
.guess-comment{
	display: flex;
	justify-content: center;
	font-size: 25px;
	margin-top: 0px;
}
.number-guess{
	display: flex;
  justify-content: center;
	height: 140px;
  font-size: 100px;
  font-weight: 700;
	color: #dd1972;
  margin: -20px;
}

.winner-card{
display: flex;
flex-direction: column;
align-items: center;
height: 250px;
background-color: white;
margin-top: 20px;
margin-left: 40px;
margin-right: 40px;

}

.win-card-header{
	display: flex;
	flex-direction: row;
	height: 55px;
	border-bottom: solid #d0d2d3 1px
}

.vs-span{
	mergin-left: 40px;
	margin-right: 40px;
}

.win-top-row{
	margin: 20px;
	color: #404041;

}
.name-span{
	 font-weight: 700;
	 font-size: 20px
 }

.vs-span{
 margin-top: 23px;
}

.winner-box{
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #404041;
}

.win-card-name{
	font-weight: 700;
	font-size: 40px;
	margin: auto;
}

.win-status{
	font-weight: 100;
	margin: auto;
	font-size: 40px;
}

.winner-stats{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	font-weight: 700;
  font-size: 22px;
	width:95%;
	margin-top: 35px;
	border-top: solid 1px #D0D2D3;
	margin-left: 10px
}

.close-button{
	border-radius: 30px;
	height: 30px;
	width: 30px;
	margin-top: 0px;
	margin-right: 0px;
	background-color: #404041;
	color: #D0D2D3;
	margin-right: 10px;
	margin-right: 10px;
}

.win-card-footer{
	margin: 0px;
	margin-top: 10px;
	font-weight: 100;
}

.changed-nums{
	font-weight: 700;
}
